/* Variables */

.c-tf-button {
  --tf-button-height: 36px;
  --tf-button-border-radius: 2px;
  --tf-button-padding: 0 12px;
  --tf-button-margin: 0 12px;
  --tf-button-min-width: 90px;
  --tf-button-transition: background-color .25s ease-out,color .25s ease-out;
}

/*
  Base Button
*/

.c-tf-button {
  min-height: var(--tf-button-height);
  min-width: var(--tf-button-min-width);
  border-radius: var(--tf-button-border-radius);
  padding: var(--tf-button-padding);
  margin: var(--tf-button-margin);
  color: var(--x-color-white);
  transition: var(--tf-button-transition);  
  font-weight: bold;
  border: 1px solid transparent;
  cursor: pointer;
}

/*
  Color Groups
*/

.c-tf-button--neutral {
  background-color: var(--x-color-indigo-5);
}

.c-tf-button--positive {
  background-color: var(--x-color-green-6);
}

.c-tf-button--negative {
  background-color: var(--x-color-red-5);
}

/*
  Weight Groups
*/

.c-tf-button--secondary {
  color: var(--x-color-gray-8);
  background-color: var(--x-color-white);
  border-color: var(--x-color-gray-2);
}

.c-tf-button--secondary.c-tf-button--negative {
  color: var(--x-color-red-5);
  border-color: var(--x-color-red-5);
}

/*
  Hover
*/

.c-tf-button--primary:hover {
  color: white;
  border-color: transparent;
}

.c-tf-button--neutral:hover {
  background-color: var(--x-color-indigo-6);
}

.c-tf-button--positive:hover {
  background-color: var(--x-color-green-7);
}

.c-tf-button--negative:hover {
  background-color: var(--x-color-red-6);
}

.c-tf-button--secondary.c-tf-button--positive:hover,
.c-tf-button--secondary.c-tf-button--neutral:hover,
.c-tf-button--secondary.c-tf-button--negative:hover {
  background-color: var(--x-color-gray-0);
}


/*
  Disabled
*/

.c-tf-button--disabled {
  cursor: auto;
  color: var(--x-color-gray-4) !important;
  background-color: var(--x-color-gray-1) !important;
}

